<!-- New items:
<pre> {{ newItems | json }} </pre> -->
<div class="example-container">
  <div cdkDropList #todoList="cdkDropList" (cdkDropListDropped)="dropped($event)" [cdkDropListData]="newItems"
    [cdkDropListConnectedTo]="[doneList]" (cdkDropListEntered)="entered($event)" (cdkDropListExited)="exited($event)"
    class="example-list">
    <div *ngFor="let item of newItems" [cdkDragData]="item" cdkDrag>
      <app-item *ngIf="getItemType(item) == 1; else nonItem " [data]="item"></app-item>  <app-non-item #nonItem *ngIf="getItemType(item) == 2"[data]="item"></app-non-item>
    </div>
  </div>
</div>
<div class="example-container">
  <div cdkDropList #doneList="cdkDropList" (cdkDropListDropped)="dropped($event)" [cdkDropListData]="activeItems"
    [cdkDropListConnectedTo]="[todoList]" (cdkDropListEntered)="entered($event)" (cdkDropListExited)="exited($event)"
    class="example-list">
    <div *ngFor="let item of activeItems" [cdkDragData]="item" cdkDrag>
      <app-item *ngIf="getItemType(item) == 1; else nonItem " [data]="item"></app-item>  <app-non-item #nonItem *ngIf="getItemType(item) == 2"[data]="item"></app-non-item>
    </div>
  </div>
</div>